body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

#nav {
  display: block;
  background-image: url(../images/the-flatiron-building.png);
  color: White
}
div h1 {
  font-size: 70px;
  font-weight: bold;
}
div a {
  font-size: 18px;
  color: White;


}
